table {
  height: 100px;
  width: 600px;
  border-collapse: collapse;
}

td {
  height: 20px;
  padding: 0px;
  
}

input {
  margin: 0px;
  width: 150px;
}

div {
  width: 40px;
}

.column_title{
  text-align: center;
}